################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/taqaIntern/FileContentIndex/436d11f4-37e0-4432-a1f0-25c2e14fe995.vsidx
/.vs/taqaIntern/FileContentIndex/d8d7e49d-739d-4138-93c8-cebd791689be.vsidx
